#quemsomos{
    margin-top: 5.5%;
}
#quemsomos p {
    margin-bottom: 2rem;
}
@media (max-width: 576px){
    #quemsomos{
        margin-top: 70px;
    }
}
@media (min-width:768px) and (max-width:1200px){
    #quemsomos{
        margin-top: 125px;
    }
}



