.content-head {
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin: 1em 0 1em;
  color: gray;
}
.is-center {
  text-align: center;
}
.upercase{
  text-transform: uppercase;
  letter-spacing: 0.1em;
}


.container.produtos{

  margin-top: 50px;
}